<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Restro</title>
    <link rel="stylesheet" href="/styles/About.css">

    <!-- gsap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" 
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- scroll trigger -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" 
    integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
    
        <div id="main">
            <div id="nav">
                <div class="logo">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5oS_MzgZ5NOSyfW-3BtWWWGBmwdKwOZJFD_N5H3aJPPxS4KG9XV99VX6IFsDhH1HPufo&usqp=CAU" alt="Restaurant Logo">
                  </div>
                  <nav>
                    <ul class="nav-links">
                      <li><a href="/">Home</a></li>
                      <li><a href="/About">About</a></li>
                      <li><a href="#">Menu</a></li>
                      <li><a href="#">Contact</a></li>
                    </ul>
                  </nav>
                  <div class="cart-buttons">
                    <button class="btn">Add</button>
                    <button class="btn">Order</button>
                  </div>
            </div>
            <div id="container">
                <div id="cont-ele" class="text">
                    <h1>Our mission is to save you time</h1>
                    <p>Order from our exquisite menu and experience culinary delights delivered to your doorstep.</p>
                    <button id="text-btn" class="btn" style="width: 150px;font-size: 18px; font-weight: 500;">Order Now!!</button>
                </div>
                <div id="cont-ele" class="image">
                    <img src="https://bslthemes.com/html/quickeat/assets/img/illustration-5.png" alt="">
                </div>
            </div>
            
        </div>
      




</body>
</html>